<div *ngIf="!errMsg; else err">
  <h2>Recipe: {{ recipe.recipeName }}</h2>
  <button
    *ngIf="currentUser == recipe.recipeCreator"
    type="button"
    [routerLink]="['/recipe/update', recipeId]"
    class="btn btn-outline-success"
  >
    Update Recipe
  </button>
  <table>
    <tr>
      <td>Created by:</td>
      <td>{{ recipe.recipeCreator }}</td>
    </tr>
    <tr>
      <td>Created on:</td>
      <td>{{ recipe.timeStamp | date : "longDate" }}</td>
    </tr>
    <tr>
      <td>Procedures:</td>
      <td>{{ recipe.procedures }}</td>
    </tr>
  </table>
  <app-ingredient-selections
    [ingredients]="recipe.ingredients"
    (ingredientsToAdd)="addToCart($event)"
  >
  </app-ingredient-selections>
</div>
<ng-template #err>{{ errMsg }}</ng-template>
