.recipe-name {
  color: navy;
  font-family: "Pangolin", cursive;
}

.recipe-cards {
  width: 21vw;
  border-color: indigo;
  transition: filter 0.4s;
}

.recipe-cards:hover {
  cursor: grab;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4)) brightness(90%);
}
