<h2>Click on any recipes to view the ingredients you can add to your basket</h2>

<div *ngIf="isLoading" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<ng-container *ngIf="!errorMsg; else err">
  <div
    *ngIf="recipes.length; else emptyMsg"
    class="d-flex align-items-center flex-wrap"
  >
    <div
      *ngFor="let recipe of recipes"
      class="card shadow-lg p-2 mt-3 me-5 mb-3 recipe-cards"
      [routerLink]="['/recipe/view', recipe.recipeId]"
    >
      <div class="card-body">
        <h4 class="card-title recipe-name">
          {{ recipe.recipeName | titlecase }}
        </h4>
        <h6 class="card-subtitle text-muted">
          By:
          <a
            [routerLink]="['/recipes', recipe.recipeCreator]"
            class="link-info"
          >
            {{ recipe.recipeCreator }}
          </a>
        </h6>
        <p class="card-text text-muted">Preparation time: approx...</p>
        <div
          *ngFor="let step of recipe.procedures.split('\n'); index as idx"
          class="mb-1"
        >
          <span *ngIf="idx < 4" class="card-text">{{ step }}</span>
          <span *ngIf="idx == 4">...</span>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <ng-container
          *ngFor="let ingredient of recipe.ingredients; index as idx"
        >
          <li *ngIf="idx < 4" class="list-group-item">
            {{ ingredient.name }} x {{ ingredient.quantity }}
          </li>
        </ng-container>
      </ul>

      <div class="card-footer text-muted">
        <small> Created on: {{ recipe.timeStamp | date }} </small>
      </div>
    </div>
  </div>

  <ng-template #emptyMsg>No recipes found.</ng-template>
</ng-container>

<ng-template #err>
  <div class="d-flex flex-column">
    <div class="alert alert-danger align-self-start">
      {{ errorMsg }}
    </div>
  </div>
</ng-template>
