<div class="container">
  <h2 class="d-flex align-self-center" style="color: navy">
    Your Basket Summary
  </h2>
</div>

<div *ngIf="cartItems.length; else emptyMsg" class="container">
  <div class="row border-bottom border-primary">
    <div class="row text-center">
      <div class="col-2 align-self-center">Recipe Name</div>
      <div class="col-2 align-self-center">Recipe Creator</div>

      <div class="col text-center border-end border-start border-info">
        <div class="row border-bottom border-primary">
          <div class="col">Ingredients</div>
        </div>
        <div class="row">
          <div class="col-4">Name</div>
          <div class="col">Pack Size</div>
          <div class="col">Unit Price</div>
          <div class="col">Quantity</div>
          <div class="col">Total ($)</div>
        </div>
      </div>
      <div class="col-1 align-self-center" style="color: red">Remove</div>
    </div>
  </div>

  <div
    *ngFor="let item of cartItems; index as idx"
    class="row border-bottom border-dark"
  >
    <div class="row text-center align-items-center">
      <div class="col-2">
        <a [routerLink]="['/recipe/view', item.recipeId]">
          {{ item.recipeName | titlecase }}</a
        >
      </div>
      <div class="col-2">
        <a [routerLink]="['/recipes/view', item.recipeCreator]">
          {{ item.recipeCreator }}
        </a>
      </div>

      <div class="col text-center">
        <div
          *ngFor="let ingredient of item.ingredients; odd as odds"
          class="row border-end border-start border-info align-items-center"
          [ngClass]="{odds}"
        >
          <div class="col-4">{{ ingredient.name }}</div>
          <div class="col">{{ ingredient.pack_size }}</div>
          <div class="col">{{ ingredient.price }}</div>
          <div class="col">{{ ingredient.quantity }}</div>
          <div class="col">{{ ingredient.total }}</div>
        </div>
      </div>

      <div class="col-1 align-items-center">
        <button type="button" (click)="removeItem(idx)" class="btn">
          <i
            class="bi bi-dash-circle"
            style="color: red; font-size: larger"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row align-items-center mt-2">
    <div class="col"></div>
    <div class="col-1 me-2"><b> TOTAL </b></div>
    <div class="col-1 me-3">
      {{ cartTotal | currency : "" : "symbol" }}
    </div>
    <div class="col-1"></div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button
      type="button"
      (click)="checkOut()"
      ngbTooltip="Receive an email of your cart"
      class="btn btn-primary"
    >
      <span
        *ngIf="isSendingEmail"
        class="spinner-border spinner-border-sm text-info"
      ></span>
      Send Summary
    </button>
    <button
      type="button"
      (click)="emptyCart()"
      ngbTooltip="Clear out everything"
      class="btn btn-warning ms-3"
    >
      Empty Cart
    </button>
  </div>
</div>

<ng-template #emptyMsg>
  <div class="container d-flex">
    <ngb-alert
      type="warning"
      [dismissible]="false"
      class="d-flex align-items-center"
    >
      <i class="bi bi-exclamation-triangle me-2"></i>
      No items in the cart yet
    </ngb-alert>
  </div>
</ng-template>
