<app-recipe-form [newIngredients]="ingredientToAdd"></app-recipe-form>

<hr />
<app-category-choser (category)="updateCategory($event)"></app-category-choser>

<app-product-list
  [products]="products"
  [offset]="offset"
  (addProduct)="addIngredient($event)"
>
  <ng-container *ngIf="products.length">
    <button type="button" (click)="updateProductList(offset - limit)">
      Prev
    </button>
    <button type="button" (click)="updateProductList(offset + limit)">
      Next
    </button>
  </ng-container>
</app-product-list>
