<app-category-choser (category)="updateCategory($event)"></app-category-choser>

<table *ngIf="products.length">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Pack Size</th>
    <th>Product Image</th>
    <th></th>
  </tr>
  <tr *ngFor="let product of products; index as idx">
    <td>{{ idx + offset + 1 }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.pack_size }}</td>
    <td><img [src]="product.img" /></td>
    <td>
      <button
        type="button"
        (click)="addIngredient(product)"
        class="btn btn-success"
      >
        Add
      </button>
    </td>
  </tr>
</table>
<div *ngIf="category">
  <button type="button" (click)="updateProductList(offset - limit)">
    Prev
  </button>
  <button type="button" (click)="updateProductList(offset + limit)">
    Next
  </button>
</div>
