<h3 class="section-title">Pick the ingredients you need for this recipe:</h3>

<div class="d-flex">
  <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
</div>

<form [formGroup]="ingredientsForm" (ngSubmit)="processForm()">
  <div class="d-flex justify-content-start">
    <button
      type="submit"
      [disabled]="ingredientsForm.invalid"
      class="btn btn-primary"
    >
      Add ingredients to basket
    </button>
  </div>

  <div class="row d-flex align-items-center text-center mt-2">
    <div class="col-1">Select</div>
    <div class="col-4">Ingredient Name</div>
    <div class="col-1">Pack Size</div>
    <div class="col-1">Price</div>
    <div class="col-2">Quantity</div>
    <div class="col-2">Image</div>
  </div>
  <hr />

  <div
    formArrayName="selectedIngredients"
    style="height: 66vh; overflow-y: auto; overflow-x: hidden"
  >
    <div
      *ngFor="
        let ingredient of ingredientSelections.controls;
        index as idx;
        even as evens
      "
      [formGroupName]="idx"
      class="row d-flex align-items-center ms-1"
      [ngClass]="{evens}"
    >
      <div class="col-1">
        <input type="checkbox" formControlName="selected" class="form-check" />
      </div>
      <div class="col-4 text-center">
        {{ ingredientSelections.at(idx).get("name")!.value }}
      </div>
      <div class="col-1">
        {{ ingredientSelections.at(idx).get("pack_size")!.value }}
      </div>
      <div class="col-1">
        {{ ingredientSelections.at(idx).get("price")!.value }}
      </div>
      <div class="col-2">
        <input
          type="number"
          id="quantity"
          formControlName="quantity"
          class="form-control"
        />
        <label for=""></label>
      </div>
      <div class="col-3">
        <img [src]="ingredientSelections.at(idx).get('img')!.value" alt="" />
      </div>
    </div>
  </div>
</form>
