<h3 style="color: navy">Write your recipe here</h3>

<div *ngIf="recipeError" class="error">
  {{ recipeError }}
</div>
<ng-container *ngIf="!loading; else loadingMsg">
  <form [formGroup]="recipeForm">
    <div class="form-floating m-1 ms-0">
      <input
        type="text"
        id="recipeCreator"
        formControlName="recipeCreator"
        placeholder="recipeCreator"
        class="form-control-plaintext"
        readonly
      />
      <label for="recipeCreator">Recipe Creator</label>
    </div>

    <div class="form-floating m-1 ms-0">
      <input
        type="text"
        id="recipeName"
        formControlName="recipeName"
        placeholder="recipeName"
        class="form-control"
        [ngClass]="{ 'is-invalid': validateFormInput('recipeName') }"
      />
      <label for="recipeName">Recipe Name</label>
      <div *ngIf="validateFormInput('recipeName')" class="invalid-feedback">
        Min. 4 characters
      </div>
    </div>

    <div class="form-floating m-1 ms-0">
      <textarea
        type="text"
        id="procedures"
        formControlName="procedures"
        placeholder="procedures"
        class="form-control"
        [ngClass]="{ 'is-invalid': validateFormInput('procedures') }"
        style="height: 300px"
      ></textarea>
      <label for="procedures">Procedures</label>
      <div *ngIf="validateFormInput('procedures')" class="invalid-feedback">
        Min. 10 characters
      </div>
    </div>

    <!-- Button goes here -->
    <ng-content></ng-content>

    <ng-container *ngIf="recipeIngredients.length; else emptyMsg">
      <div formGroupName="ingredients">
        <div class="row text-center mt-2">
          <div class="col-4"><b>Ingredient name</b></div>
          <div class="col-3"><b>Pack Size</b></div>
          <div class="col-3"><b>Quantity</b></div>
          <div class="col-1"></div>
        </div>
        <hr />

        <div style="height: 26vh; overflow-y: auto; overflow-x: hidden">
          <div
            *ngFor="
              let ingredient of recipeIngredients.controls;
              index as idx;
              odd as odds
            "
            [formGroupName]="idx"
            class="row mt-2 p-1"
            [ngClass]="{odds}"
          >
            <div class="col-5 ms-1 align-self-center">
              {{ recipeIngredients.at(idx).get("name")?.value }}
            </div>
            <div class="col-2 align-self-center">
              {{ recipeIngredients.at(idx).get("pack_size")?.value }}
            </div>
            <div class="col-3 align-self-center">
              <input
                type="number"
                formControlName="quantity"
                step="1"
                class="form-control"
              />
            </div>
            <div class="col-1 align-self-center">
              <button type="button" (click)="removeIngredient(idx)" class="btn">
                <i
                  class="bi bi-trash3"
                  style="color: red; font-size: larger"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyMsg>
      <h4
        class="m-1 mt-3"
        ngbTooltip="Add ingredients from the right-side panel"
        placement="top"
      >
        Please add at least one ingredient to your recipe..
      </h4>
    </ng-template>
  </form>
</ng-container>
<ng-template #loadingMsg>Loading Recipe...</ng-template>
