<div *ngIf="recipeError" class="error">
  {{ recipeError }}
</div>

<ng-container *ngIf="!loading; else loadingMsg">
  <form [formGroup]="recipeForm">
    <div class="form-floating m-1 ms-0">
      <input
        type="text"
        id="recipeCreator"
        formControlName="recipeCreator"
        placeholder="recipeCreator"
        class="form-control-plaintext"
        readonly
      />
      <label for="recipeCreator">Recipe Creator</label>
    </div>

    <div class="form-floating m-1 ms-0">
      <input
        type="text"
        id="recipeName"
        formControlName="recipeName"
        placeholder="recipeName"
        class="form-control"
        [ngClass]="{ 'is-invalid': validateFormInput('recipeName') }"
      />
      <label for="recipeName">Recipe Name</label>
      <div *ngIf="validateFormInput('recipeName')" class="invalid-feedback">
        Min. 10 characters
      </div>
    </div>

    <div class="form-floating m-1 ms-0">
      <textarea
        type="text"
        id="procedures"
        formControlName="procedures"
        placeholder="procedures"
        class="form-control"
        [ngClass]="{ 'is-invalid': validateFormInput('procedures') }"
        style="height: 300px"
      ></textarea>
      <label for="procedures">Procedures</label>
      <div *ngIf="validateFormInput('procedures')" class="invalid-feedback">
        Min. 4 characters
      </div>
    </div>

    <!-- Button goes here -->
    <ng-content></ng-content>

    <ng-container *ngIf="recipeIngredients.length; else emptyMsg">
      <table formGroupName="ingredients">
        <tr>
          <th>Name</th>
          <th>Pack Size</th>
          <th>Quantity</th>
        </tr>
        <tr
          *ngFor="let ingredient of recipeIngredients.controls; index as idx"
          [formGroupName]="idx"
        >
          <td>
            {{ recipeIngredients.at(idx).get("name")?.value }}
          </td>
          <td>
            {{ recipeIngredients.at(idx).get("pack_size")?.value }}
          </td>
          <td>
            <input type="number" formControlName="quantity" step="1" />
          </td>
          <td>
            <button
              type="button"
              (click)="removeIngredient(idx)"
              class="btn btn-outline-danger"
            >
              X
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-template #emptyMsg>
      <h4>Please add at least one ingredient..</h4>
    </ng-template>
  </form>
</ng-container>
<ng-template #loadingMsg>Loading Recipe...</ng-template>
