<h3>Sign In</h3>
<div *ngIf="errorMsg">
  <p class="error">
    {{ errorMsg }}
  </p>
  <p><a routerLink="/registration">Register</a> for a new account instead?</p>
</div>
<form [formGroup]="signinForm" (ngSubmit)="processForm()">
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" formControlName="username" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" formControlName="password" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="signinForm.invalid">Log In</button>
      </td>
    </tr>
  </table>
</form>
